.title {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-family: $FSAlbert;
  font-weight: 400;
  font-size: 2.428571428571429vw;
  line-height: 2.428571428571429vw;
  text-align: center;
  color: #00335d;

  @media only screen and (max-width:767px) {
    margin-top: 4.7vw;
    font-size: 5vw;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1vw;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 15.35714285714286vw;
    height: 0.2142857142857143vw;
    background-color: #00335d;

    @media only screen and (max-width:767px) {
      bottom: -2vw;
      width: 30vw;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.714285714285714vw;

    @media only screen and (max-width:767px) {
      margin-bottom: 3.7vw;
    }
  }
}

.articles {
  font-family: $FSAlbert;
  font-weight: 400;

  &__wrapper {
    padding-top: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.428571428571429vw;

    @media only screen and (max-width:767px) {
      flex-direction: column;
    }
  }
}

.article-item {
  display: flex;
  padding-top: 2.071428571428571vw;
  padding-bottom: 2.071428571428571vw;
  width: 38.21428571428571vw;
  border-top: 0.1428571428571429vw solid rgba(#001221, 0.13);

  @media only screen and (max-width:767px) {
    width: 100%;
  }

  &:first-child,
  &:nth-child(2) {
    border-top: none;
  }

  &:nth-child(2) {
    @media only screen and (max-width:767px) {
      border-top: 0.1428571428571429vw solid rgba(#001221, 0.13);
    }
  }

  &__img {
    width: 13.71428571428571vw;
    height: 8.142857142857143vw;
    border: 0.0714285714285714vw solid #d3d3d3;
    overflow: hidden;

    @media only screen and (max-width:767px) {
      width: 20vw;
      height: 12vw;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 1vw;
    font-weight: 700;
    font-size: 1.571428571428571vw;
    line-height: 1.571428571428571vw;
    letter-spacing: -0.1px;
    color: #00447d;

    @media only screen and (max-width:767px) {
      font-size: 3vw;
      line-height: 3vw;
    }
  }

  &__info {
    flex: 1;
    padding-left: 1.714285714285714vw;

    p {
      font-size: 1.142857142857143vw;
      line-height: 1.3vw;
      color: #545454;

      @media only screen and (max-width:767px) {
        font-size: 2.5vw;
        line-height: 2.4vw;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 0.8571428571428571vw;
    font-weight: 700;
    font-size: 1.142857142857143vw;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2088c0;
    transition: all .4s;

    @media only screen and (max-width:767px) {
      font-size: 2.2vw;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -1.7vw;
      display: block;
      width: 1.285714285714286vw;
      height: 1.285714285714286vw;
      background-image: url('../img/icons/arrow-right.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all .4s;

      @media only screen and (max-width:767px) {
        right: -3.7vw;
        width: 2.3vw;
        height: 2.3vw;
      }
    }

    &:hover {
      text-decoration: none;
      color: #1a78ab;

      &::after {
        right: -2vw;

        @media only screen and (max-width:767px) {
          right: -4.3vw;
        }
      }
    }
  }
}
