.infografic {
  margin-top: 5.2857142857142857vw;
  display: block;
  transition: 0.4s;
  overflow: hidden;
  flex: 1 0 auto;
  background-image: url('../img/bg-decor.png');
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (max-width:767px)  {
    margin-top: 8vw;
    background-position: 0 6%;
  }

  &-page {
    background-color: #0274BD;
  }

  &__wrapper {
    max-width: 82.2857142857142857vw;
    margin: 0 auto;
    margin-bottom: 2.142857142857143vw;
    padding-bottom: 5.428571428571429vw;
    padding-top: 1.3vw;
    background-color: #fff;

    @media only screen and (max-width:767px)  {
      padding: 17.4375vw 0 7.8125vw;
      max-width: 86.25vw;
    }
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 4vw;
    width: 68.57142857142857vw;

    @media only screen and (max-width:767px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.vaccinations {
  margin: 0 auto;
  padding-top: 2.928571428571429vw;
  padding-bottom: 3.071428571428571vw;
  width: 59.85714285714286vw;
  border: 0.4285714285714286vw solid rgba(179, 179, 179, 0.5);

  @media only screen and (max-width:767px) {
    width: 73vw;
  }

  &__container {
    margin: 0 auto;
    width: 29vw;

    @media only screen and (max-width:767px) {
      width: 90%;
    }
  }

  &__title {
    margin-bottom: 2vw;
    font-family: $FSAlbert;
    font-weight: 400;
    font-size: 2.142857142857143vw;
    line-height: 2.428571428571429vw;
    text-align: center;
    color: #002849;

    @media only screen and (max-width:767px)  {
      margin-bottom: 3.5vw;
      font-size: 4vw;
    }
  }

  &__files {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 0.6vw;
    margin-bottom: 1.785714285714286vw;
  }

  &__file {
    width: 12.71428571428571vw;
    height: 18.28571428571429vw;
    box-shadow: 0.3571428571428571vw 0.3571428571428571vw 0 rgba(0, 0, 0, 0.11);
    overflow: hidden;

    @media only screen and (max-width:767px) {
      width: 30vw;
      height: 42.285714vw;
    }

    img {
     width: 100%;
     height: 18.28571428571429vw;

     @media only screen and (max-width:767px) {
       height: auto;
     }
    }
  }

  &__download {
    display: block;
    margin: 0 auto;
    font-family: $FSAlbert;
    font-weight: 400;
    font-size: 1.428571428571429vw;
    line-height: 2.428571428571429vw;
    text-align: center;
    width: 100%;
    height: 3.428571428571429vw;
    border: none;
    color: #ffffff;
    background-color: #00447d;
    cursor: pointer;
    outline: none;

    @media only screen and (max-width:767px) {
      height: 5.5vw;
      font-size: 2.5vw;
    }

    &-text {
      position: relative;
      border-bottom: 0.0714285714285714vw solid #fff;
      padding-bottom: 0.1428571428571429vw;
      transition: all 0.4s;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1.785714285714286vw;
        display: block;
        width: 1.142857142857143vw;
        height: 1.142857142857143vw;
        background-image: url('../img/arrow-down.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.4s;

        @media only screen and (max-width:767px) {
          right: -2.5vw;
          width: 2vw;
          height: 2vw;
        }
      }

      &:hover {
        border-bottom-color: transparent;
        opacity: .8;
      }
      &:active {
        border-bottom-color: #fff;
        opacity: 1;

        &::after {
          transform: translateY(30%);
          opacity: 0;
        }
      }
    }
  }
}
