.article {
	font-family: $FSAlbert;
	margin-bottom: 2.1428571428571429vw;

	@media screen and (max-width: 767px) {
		margin: 25.9452411995vw 0 7vw;
	}

	.wrapper {
	    max-width: 82.2857142857142857vw;
	    background-color: $white;

	    @media screen and (max-width: 767px) {
			max-width: 100%;
		}
	}

	&__header {
		display: flex;
		height: 24.3571428571428571vw;
		background-color: #002849;
		position: relative;
		overflow: hidden;

		&:after {
			position: absolute;
			content: '';
			right: 0.4285714285714286vw;
    		bottom: -0.5714285714285714vw;
			background-image: url('../img/art-bg.png');
			background-size: 100% 100%;
			width: 17.7142857142857143vw;
			height: 23.7857142857142857vw;
		}

		@media screen and (max-width: 767px) {
		    flex-direction: column;
		    height: auto;
		}
	}

	&__image {
		width: 41.1428571428571429vw;
		height: 24.3571428571428571vw;

		@media screen and (max-width: 767px) {
			width: 100%;
			height: auto;
		}
	}

	&__info {
		position: relative;
		z-index: 1;
		padding: 2.1428571428571429vw 0 0 3.0714285714285714vw;
		width: 35.7142857142857143vw;


		@media screen and (max-width: 767px) {
			width: 100%;
			padding: 8vw 4vw;
		}

		h1 {
			color: $white;
			font-size: 2.7142857142857143vw;
			font-weight: 700;
			line-height: 2.8571428571428571vw;
		    letter-spacing: -0.0071428571428571vw;
		    padding-bottom: 2vw;
			position: relative;

			@media screen and (max-width: 767px)  {
				font-size: 7.258149vw;
    			line-height: 7.867014vw;
    			padding-bottom: 6vw;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0.2142857142857143vw;
				bottom: 0;
				width: 16.7142857142857143vw;
				height: 0.2142857142857143vw;
				background-color: $white;

				@media screen and (max-width: 767px) {
					width: 60%;
    				height: 0.721512vw;
				}
			}
		}

		p {
			padding-top: 1.4285714285714286vw;
			color: #73addd;
			font-size: 1.2857142857142857vw;
		    line-height: 1.5714285714285714vw;
			font-weight: 400;

			@media screen and (max-width: 767px)  {
				padding-top: 5.428571vw;
				font-size: 4.5vw;
    			line-height: 5vw;
			}
		}

	}

	&__container {
		margin: 0 auto;
		padding: 1.2142857142857143vw 0 1.6428571428571429vw;
		max-width: 54.8571428571428571vw;
		width: 100%;

		@media screen and (max-width: 767px) {
			max-width: 100%;
			padding: 6vw 4vw;
		}

		& > p {
			margin-top: 0.7857142857142857vw;
			color: #3f3f3f;
			font-size: 1.1428571428571429vw;
			font-weight: 400;
		    letter-spacing: -0.0071428571428571vw;
		    line-height: 1.3571428571428571vw;

		  @media screen and (max-width: 767px)  {
		  		margin-top: 2.785714vw;
				font-size: 4.5vw;
    			line-height: 5vw;
			}

		    a {
				color: #3f3f3f;
				transotion: $delay;

				&:hover {
					opacity: .8;
				}
		    }
		}

		h3 {
		    margin-top: 1.6428571428571429vw;
			color: #002849;
			font-size: 1.7142857142857143vw;
			font-weight: 700;
		    letter-spacing: -0.0107142857142857vw;

		    @media screen and (max-width: 767px) {
		    	margin-top: 6.642857vw;
		    	font-size: 6.714286vw;
		    }
		}

		img {
			margin: 2.5vw 0 1.07142857143vw;

			@media screen and (max-width: 767px) {
				margin: 7.5vw 0 2.071429vw;
			}
		}
	}

	&__back-link {
		color: #002849;
		font-size: 1.1428571428571429vw;
		font-weight: 300;
		letter-spacing: -0.0107142857142857vw;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		display: inline-block;
		position: relative;
		margin-bottom: 1.1428571428571429vw;

		&:hover {
			text-decoration: none;
		}

		@media screen and (max-width: 767px)  {
				padding-left: 2.66666666667vw;
			    margin-bottom: 4.142857vw;
				font-size: 4.5vw;
    			line-height: 5vw;
			}

		&:before {
			position: absolute;
			content: '';
			left: -1.1428571428571429vw;
    		top: 0.14285714285vw;
			width: 0.78571428571vw;
			height: 1.1428571428571429vw;
			background-image: url('../img/arrow-left.svg');
			background-size: 100% 100%;

			@media screen and (max-width: 767px) {
				width: 2.93333333333vw;
				height: 4.26666666667vw;
			}
		}
	}

	&__rectangle {
		margin: 2.64285714286vw 0;
		padding: 1.85714285714vw 2.85714285714vw 1.92857142857vw 2.14285714286vw;
		border: 4px solid #0274bd;
		// border: 0.28571428571vw solid #0274bd;

		@media screen and (max-width: 767px) {
			padding: 4vw;
			margin: 7.6vw 0;
		}

		&-list li,
		p {
			margin-bottom: 0.71428571428vw;
			color: #005890;
			font-size: 1.28571428571vw;
			font-style: italic;
			line-height: 1.57142857143vw;
	    letter-spacing: -0.0071428571428571vw;

		    @media screen and (max-width: 767px) {
		    	font-size: 4.5vw;
    			line-height: 5.571429vw;
		    }
		}

		&.bold &-list li,
		&.bold p {
			font-weight: 700;
		}

		&-list li {
			position: relative;
			text-indent: 1.071428571428571vw;

			&::before {
				content: '';
				position: absolute;
				top: 15px;
				left: 0;
				display: block;
				width: 0.4285714285714286vw;
				height: 0.4285714285714286vw;
				border-radius: 50%;
				background-color: #a8a8a8;
			}
		}
	}

	&__line {
		margin: 3.85714285714vw 0 1.21428571429vw;
		height: 0.14285714285vw;
		background-color: #c5c5c5;

		@media screen and (max-width: 767px) {
			margin: 7.857143vw 0 6.214286vw;
    		height: 0.342857vw;
		}
	}

	&__author {
		margin-top: 1.78571428571vw;
		padding-bottom: 0.78571428571vw;
		width: 16.5714285714vw;
		font-size: 1.1428571428571429vw;
		font-weight: 400;
		line-height: 1.71428571429vw;
		color: #3f3f3f;
		border-bottom: 3px solid #0274bd;
		// border-bottom: 0.21428571428vw solid #0274bd;

		@media screen and (max-width: 767px)  {
			    margin-top: 5.785714vw;
    			padding-bottom: 2.785714vw;
				width: 100%;
				font-size: 4.5vw;
    			line-height: 5vw;
			}

		a {
			color: #00447d;
			text-decoration: underline;
		}
	}

	&__contacts {
		margin-top: 2.07142857143vw;
		color: #3f3f3f;
		font-size: 1.1428571428571429vw;
		font-weight: 400;

		@media screen and (max-width: 767px)  {
				margin-top: 7vw;
				font-size: 4.5vw;
    			line-height: 5vw;
			}

		p {
			margin-bottom: 0.21428571428vw;
		    letter-spacing: -0.0071428571428571vw;
		}

		a {
			color: #3f3f3f;
		}
	}

	&__warning {
		margin-top: 1.42857142857vw;

		@media screen and (max-width: 767px) {
			margin-top: 7.428571vw;
		}

		p {
			color: #3f3f3f;
			font-size: 2.64285714286vw;
			font-weight: 300;
			line-height: 2.85714285714vw;
			text-transform: uppercase;
			letter-spacing: -0.03357142857vw;

			@media screen and (max-width: 767px) {
				font-size: 4.642857vw;
    			line-height: 5.857143vw;
			}
		}
	}

	&__footer {
		padding: 0.92857142857vw 0 2.92857142857vw;
		border-top: 2px solid #d7d7d7;
		// border-top: 0.14285714285vw solid #d7d7d7;

		@media screen and (max-width: 767px) {
			padding: 6vw 0 0;
		}

		h2 {
			color: #002849;
			font-size: 2.14285714286vw;
			font-weight: 400;
			line-height: 2.42857142857vw;
			text-align: center;

			@media screen and (max-width: 767px) {
				font-size: 5.5vw;
    			line-height: 6.428571vw;
			}
		}
	}

	&__others-list {
		padding-top: 1.92857142857vw;
		display: flex;

		@media screen and (max-width: 767px) {
			padding: 5vw 4vw 0;
			flex-direction: column;
		}
	}

	&__others-item {
		width: 50%;
		padding-left: 1.42857142857vw;
		display: flex;

		@media screen and (max-width: 767px) {
		    margin-bottom: 8vw;
			width: 100%;
		}

		img {
			width: 13.7142857143vw;
			height: 8.14285714286vw;
			border: 1px solid #d3d3d3;
			// border: 0.07142857142vw solid #d3d3d3;

			@media screen and (max-width: 767px) {
				width: 34.6666666667vw;
				height: 20.5333333333vw;
			}
		}
	}

	&__others-info {
		padding-left: 1.71428571429vw;

		@media screen and (max-width: 767px) {
			padding-left: 4vw;
		}


		h3 {
			max-width: 21.4285714286vw;
			color: #00447d;
			font-size: 1.57142857143vw;
			font-weight: 700;
			line-height: 1.57142857143vw;

			@media screen and (max-width: 767px) {
				max-width: 100%;
    			font-size: 4.571429vw;
    			line-height: 3.871429vw;
			}
		}

		p {
			max-width: 21.4285714286vw;
			margin: 1vw 0 0.85714285714vw;
    		line-height: 1.28571428571vw;
			color: #545454;
			font-size: 1.1428571428571429vw;
			font-weight: 400;
			height: 2.42857142857vw;
			overflow: hidden;

			@media screen and (max-width: 767px)  {
				margin: 3vw 0 1vw;
    			max-width: 100%;
    			font-size: 3.5vw;
    			line-height: 3.3vw;
    			height: 6.428571vw;
			}
		}

		a {
			color: #2088c0;
			font-size: 1.1428571428571429vw;
			font-weight: 700;
			text-decoration: underline;
			position: relative;

			@media screen and (max-width: 767px)  {
				font-size: 3.5vw;
    			line-height: 3.3vw;
			}

			&:after {
				top: 0.28571428571vw;
    			right: -1.71428571429vw;
				position: absolute;
				content: '';
				background-image: url('../img/article-other-arrow.svg');
				background-size: 100% 100%;
				width: 1.28571428571vw;
				height: 1vw;

				@media screen and (max-width: 767px)  {
					right: -6vw;
					width: 4.8vw;
					height: 3.73333333333vw;
				}
			}
		}
	}
}
