@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Light.eot');
  src: url('../fonts/Akrobat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Light.woff') format('woff'),
  url('../fonts/Akrobat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Bold.eot');
  src: url('../fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Bold.woff') format('woff'),
  url('../fonts/Akrobat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Thin.eot');
  src: url('../fonts/Akrobat-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Thin.woff') format('woff'),
  url('../fonts/Akrobat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-ExtraBold.eot');
  src: url('../fonts/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-ExtraBold.woff') format('woff'),
  url('../fonts/Akrobat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Regular.eot');
  src: url('../fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Regular.woff') format('woff'),
  url('../fonts/Akrobat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-ExtraLight.eot');
  src: url('../fonts/Akrobat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-ExtraLight.woff') format('woff'),
  url('../fonts/Akrobat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Black.eot');
  src: url('../fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-Black.woff') format('woff'),
  url('../fonts/Akrobat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-SemiBold.eot');
  src: url('../fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Akrobat-SemiBold.woff') format('woff'),
  url('../fonts/Akrobat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-BoldItalic.eot');
  src: url('../fonts/FSAlbertPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-BoldItalic.woff') format('woff'),
  url('../fonts/FSAlbertPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Bold.eot');
  src: url('../fonts/FSAlbertPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-Bold.woff') format('woff'),
  url('../fonts/FSAlbertPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-LightItalic.eot');
  src: url('../fonts/FSAlbertPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-LightItalic.woff') format('woff'),
  url('../fonts/FSAlbertPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Light.eot');
  src: url('../fonts/FSAlbertPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-Light.woff') format('woff'),
  url('../fonts/FSAlbertPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Italic.eot');
  src: url('../fonts/FSAlbertPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-Italic.woff') format('woff'),
  url('../fonts/FSAlbertPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-ExtraBold.eot');
  src: url('../fonts/FSAlbertPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-ExtraBold.woff') format('woff'),
  url('../fonts/FSAlbertPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-ThinItalic.eot');
  src: url('../fonts/FSAlbertPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-ThinItalic.woff') format('woff'),
  url('../fonts/FSAlbertPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro.eot');
  src: url('../fonts/FSAlbertPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro.woff') format('woff'),
  url('../fonts/FSAlbertPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FS Albert Pro';
  src: url('../fonts/FSAlbertPro-Thin.eot');
  src: url('../fonts/FSAlbertPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FSAlbertPro-Thin.woff') format('woff'),
  url('../fonts/FSAlbertPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}









$white: #ffffff;
$black: #000000;
$blue: #0274bd;
$lightBlue: #7dccff;
$Akrobat: 'Akrobat', sans-serif;
$FSAlbert: 'FS Albert Pro', sans-serif;
$delay: .4s;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


//html {
//  &.overflow {
//    height: 100vh;
//    overflow: hidden;
//  }
//}
body {

  &.blue {
    background-color: #0274bd;
  }

  &.overflow {
    margin-right: 15px;
    overflow: hidden;
    //height: 100vh;

    @media screen and (max-width: 991px) {
      margin-right: 0;
    }
  }
}
a {
  text-decoration: none;
  transition: $delay;

  &:hover {
    opacity: .8;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: auto;
  width: 100%;

}
