footer{
  background-color: #e4e4e4;
  font-family: 'Akrobat';
  flex-shrink: 0;

  .wrapper {
    max-width: 82.5vw;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 0 30px;
    }
  }
}
.foot-nav{
  display: flex;
  //justify-content: space-between;
  //padding-left: 5.2142857142857143vw;
  padding-top: 3.4285714285714286vw;

  @media screen and (max-width: 991px) {
    padding-left: 0;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 783px) {
    padding-top: 48px;
  }
}
.foot-nav li{
  list-style: none;
}
.foot-nav a{
  font-weight: bold;
  color: #858587;
  font-size: 1.2142857142857143vw;
  padding: 0.7142857142857143vw 1.0714285714285714vw;

  @media screen and (max-width: 783px) {
    font-size: 17px;
  }
}
.foot-logo img{
  display: block;
  width: 97%;
  padding-top: 0.46875vw;
  margin-right: -2.1875vw;
}
.foot{
  display: flex;
  //padding-left: 4.0714285714285714vw;
  padding-top: 1.25vw;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 991px) {
    padding-left: 0;
  }

}
.copyright{
  width: 16.4285714285714286vw;
  padding-bottom: 3.1428571428571429vw;
  padding-left: 0.9285714285714286vw;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    padding-bottom: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 992px) {
    margin-right: auto;
  }
  @media screen and (max-width: 783px) {
    padding-left: 13px;
  }
}
.copyright p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #858586;
  font-size: 0.9285714285714286vw;
  padding-top: 0.2142857142857143vw;
  line-height: 1vw;

  @media screen and (max-width: 783px) {
    font-size: 13px;
    padding-top: 3px;
    line-height: 14px;
  }
}
//.copyright p:nth-child(2){
//  margin-top: -0.46875vw;
//}
.copyright a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9785714285714286vw;
  position: relative;
  //bottom: 0.3571428571428571vw;
  color: #2a92d3;

  @media screen and (max-width: 783px) {
    font-size: 13.7px;
  }
}
.copyright a:hover,
.admin a:hover{
  text-decoration: underline;
}
.soclife{
  padding-left: 2.2857142857142857vw;
  width: 15vw;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    margin-top: 1vw;
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    max-width: 50%;
    display: flex !important;
    align-items: flex-start !important;
  }
}
.soclife p{
  text-align: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8571428571428571vw;
  padding-top: 3px;
  margin-left: 0.2142857142857143vw;
  letter-spacing: 0.0642857142857143vw;
  color: #858586;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 783px) {
    font-size: 12px;
    padding-top: 3px;
    margin-left: 19px;
    letter-spacing: 0.9px;
  }
}
.social{
  display: flex;
  justify-content: space-between;
  padding-top: 0.7142857142857143vw;

  @media screen and (max-width: 480px) {
    width: calc(100% - 2.34375vw) !important;
  }
}
.admin{
  max-width: 26vw;
  margin-left: 1.3571428571428571vw;

  @media screen and (max-width: 992px) {
    margin-left: 0;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
  @media screen and (max-width: 480px) {
    max-width: 50%;
  }
}
.admin p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 0.2857142857142857vw;
  font-size: 0.9285714285714286vw;
  line-height: 0.9642857142857143vw;
  letter-spacing: 0.0142857142857143vw;
  color: #858586;

  &:last-child {
    margin-top: 1vw;
  }

  @media screen and (max-width: 783px) {
    padding-top: 4px;
    font-size: 13px;
    line-height: 13.5px;
    letter-spacing: 0.2px;
  }
}
.admin a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2a92d3;
}
.social a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 2vw;
  height: 2vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (max-width: 783px) {
    width: 28px;
    height: 28px;
  }
}
.klubkom{
  background-image: url(../img/klubkom.png);
}
.vk{
  background-image: url(../img/vk.png);
}
.fb{
  background-image: url(../img/fb.png);
}
.youtube{
  background-image: url(../img/youtube.png);
}
.inst{
  background-image: url(../img/inst.png);
}

@media screen and (max-width: 783px){
  .copyright {
    width: 37%;
  }
  .soclife {
    display: flex;
    width: 73%;
    padding-left: 0;
    align-items: center;
    justify-content: space-between;


  }
  .social {
    display: flex;
    justify-content: flex-start;
    padding-top: 0px;
    width: 100%;
  }

  .social a {
    margin-right: 1vw;
  }

  .admin {
    margin-left: 0;
    width: 100%;
    padding-top: 10px;
  }
  .protect p br{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .copyright {
    width: 47%;
  }
  .soclife {
    width: 98%;
  }
}

@media screen and (max-width: 586px){
  .foot {
    padding-left: 0px;
    padding-top: 4.25vw;
  }
  .copyright {
    padding-left: 22px;
  }
  .web-main-content p {
    padding-top: 2px;
  }
  .web-content span {
    width: 35.3%;
  }
}

@media screen and (max-width: 462px){
  .foot-logo img {
    width: 88%;
    margin-right: -58px;
  }
  .copyright {
    width: 47%;
    padding-left: 0px;
  }
  .copyright p {
    font-size: 9.5px;
    padding-top: 3px;
    line-height: 11px;
  }
  .copyright p:nth-child(2) {
    margin-top: -4px;
    letter-spacing: 0.5px;
  }
  .copyright a {
    font-size: 9.5px;
    bottom: 8px;
  }
  .soclife p{
    font-size: 8.1px;
    padding-top: 0;
    margin-left: 0;
    letter-spacing: 0.9px;
  }
  .social {
    width: 48%;
    padding-top: 5px;
  }
  .social a {
    width: 21px;
    height: 21px;
    background-size: contain;
  }
  .admin{
    padding-top: 0;
  }
  .admin p br{
    display: none;
  }
  .admin p {
    padding-top: 7px;
    font-size: 8px;
    line-height: 10.5px;
    letter-spacing: 0.2px;
  }
}