.header {
  height: 5.2857142857142857vw;
  background-color: #00447d;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;

  @media only screen and (max-width:767px) {
    height: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 82.2857142857142857vw;

    @media only screen and (max-width:767px) {
      max-width: 100%;
      flex-direction: column-reverse;

    }
  }
  &__logo {
    margin-top: 0.2142857142857143vw;
    width: 4.8571428571428571vw;
    height: 2.8571428571428571vw;

    @media only screen and (max-width:767px) {
      margin-top: 0.625vw;
      width: 14.53125vw;
      height: 8.4375vw;
    }
  }

  &__menu {
    margin-top: 0.2857142857142857vw;
    display: flex;

    @media only screen and (max-width:767px) {
      margin-top: 0;
    }

    &-item {
      margin-right: 2.2142857142857143vw;

      @media only screen and (max-width:767px) {
        margin-left: 5.78125vw;
        margin-right: 0;
      }
    }

    &-link {
      font-family: $FSAlbert;
      color: #fefefe;
      font-size: 1.7142857142857143vw;
      font-weight: 300;
      border-bottom: 0.1428571428571429vw solid #0678be;
      padding-bottom: 0.1428571428571429vw;

      &:hover {
        border-color: transparent;
      }

      @media only screen and (max-width:767px) {
        font-size: 4.6875vw;
        border-width: 0.3125vw;
        padding-bottom: 0.325vw;
      }
    }
  }

  &__left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52.8571428571428571vw;

    @media only screen and (max-width:767px) {
      width: 100%;
      height: 14.84375vw;
      padding: 0 6.875vw;

    }

  }

  &__right-container {
    display: flex;
    align-items: flex-end;

    @media only screen and (max-width:767px) {
      width: 100%;
      height: 10.9375vw;
      background-color: #003b6d;
      align-items: center;
      justify-content: center;
    }
  }

  &__komar-logo {
    transform: translateY(0.1428571428571429vw);
    margin-right: 1.4285714285714286vw;
    width: 7.6428571428571429vw;
    height: 2.2142857142857143vw;

    @media only screen and (max-width:767px) {
      transform: none;
      margin: 0.9375vw 5.625vw 0 0;
      width: 25vw;
      height: 7.1875vw;
    }
  }

  &__komar-link {
    margin: 0 0.1428571428571429vw 0.2857142857142857vw 0;
    color: #9bd2ff;
    font-family: $Akrobat;
    font-size: 1vw;
    font-weight: 300;
    text-decoration: underline;

    @media only screen and (max-width:767px) {
      margin: 2.96875vw 0 0 0;
      transform: translateX(-2.5vw);
      color: #3c9fdb;
      font-family: $FSAlbert;
      font-size: 3.4375vw;
      font-weight: 400;
    }
  }
}
