body {
  display: flex;
  flex-direction: column;

  &.opacity {
    position: relative;

    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      z-index: 3;
      opacity: .7;
      background-color: $black;
    }
  }
}

.main {
  margin-top: 5.2857142857142857vw;
  display: block;
  transition: $delay;
  overflow: hidden;
  flex: 1 0 auto;

  @media only screen and (max-width:767px) {
    //margin-top: 25.78125vw;
    margin-top: 0;
  }
}

.banner {
  background-image: url("../img/main-bg.png");
  background-size: 100% 100%;
  background-position: center center;
  height: 34.2857142857142857vw;

  @media only screen and (max-width:767px) {
    height: 97.96875vw;
    background-image: url("../img/main-bg-mob.png");
    background-position: -47.8125vw -24.53125vw;
    background-repeat: no-repeat;
    background-size: 163.28125vw 120.78125vw;
  }

  .wrapper {
    padding-top: 3.3571428571428571vw;
    display: flex;
    max-width: 82.2857142857142857vw;

    @media only screen and (max-width:767px) {
      padding-top: 32.1875vw;
      flex-direction: column-reverse;
      max-width: 86.25vw;
    }
  }

  &__video {
    position: relative;
    width: 40.4285714285714286vw;
    height: 22.7142857142857143vw;

    @media only screen and (max-width:767px) {
      margin-top: 7.03125vw;
      width: 100%;
      height: 48.4375vw;
      z-index: 2;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__info {
    margin-left: 2.2857142857142857vw;
    padding-top: 0.5714285714285714vw;
    font-family: $FSAlbert;

    @media only screen and (max-width:767px) {
      margin-left: 4.285714vw;
      padding-top: 0;
    }


    h1 {
      margin-left: 0.9285714285714286vw;
      max-width: 19.6428571428571429vw;
      font-size: 2.5714285714285714vw;
      font-weight: 700;
      line-height: 2.7142857142857143vw;
      color: #00447d;

      @media only screen and (max-width:767px) {
        max-width: 75vw;
        margin-left: 0;
        font-size: 8.125vw;
        font-weight: 700;
        line-height: 8.4375vw;
        letter-spacing: -0.046875vw;
      }

      span {
        @media only screen and (max-width:767px) {
          display: block;
        }
      }
    }
  }

  &__text {
    margin-top: 2.8571428571428571vw;
    padding: 1.3571428571428571vw 7vw 1.7857142857142857vw 1.8571428571428571vw;
    position: relative;
    width: 26.1428571428571429vw;
    height: 10.5vw;
    border-radius: 1.0714285714285714vw;
    background-color: $white;

    @media only screen and (max-width:767px) {
      margin-top: 3.90625vw;
      background-color: transparent;
      width: 77.34375vw;
      height: auto;
      padding: 0;

    }

    p {
      color: #00447d;
      font-size: 1.2142857142857143vw;
      font-weight: 400;
      line-height: 1.5vw;

      @media only screen and (max-width:767px) {
        font-size: 4.375vw;
        line-height: 5.15625vw;
        letter-spacing: -0.015625vw;
      }

      .bold {
        font-weight: 700;
      }

    }

    &:after {
      content: '';
      position: absolute;
      right: -7.2142857142857143vw;
      top: -0.6428571428571429vw;
      background-image: url("../img/kid.svg");
      background-size: 100% 100%;
      width: 17.5vw;
      height: 14.5714285714285714vw;

      @media only screen and (max-width:767px) {
        display: none;
      }
    }
  }
}

.navigation {
  background-color: #0075c1;
  position: relative;

  @media only screen and (max-width:767px) {
    margin-top: 15.625vw;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: #0075c1;
    top: -2.7142857142857143vw;
    width: 28.5714285714285714vw;
    height: 7.1428571428571429vw;

    @media only screen and (max-width:767px) {
      top: 0;
    }
  }

  &:before {
    transform: rotate(14deg);
    left: -4.9285714285714286vw;

    @media only screen and (max-width:767px) {
      transform: rotate(12deg);

    }
  }

  &:after {
    transform: rotate(-14deg);
    right: -4.9285714285714286vw;

    @media only screen and (max-width:767px) {
      transform: rotate(-12deg);

    }
  }

  .wrapper {
    transform: translateY(-7.1428571428571429vw);
    max-width: 82.2857142857142857vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    @media only screen and (max-width:767px) {
      transform: none;
      padding: 28.4375vw 0 7.8125vw;
      max-width: 86.25vw;
    }
  }

  &__item {
    position: relative;
    margin-top: 1.7857142857142857vw;
    width: 40.4285714285714286vw;
    height: 14.2857142857142857vw;
    padding: 1.5vw;
    background-image: url("../img/blue-bg.png");
    background-size: contain;
    background-repeat: repeat;
    //background-color: #004774;

    @media only screen and (max-width:767px) {
      margin-top: 3.125vw;
      width: 100%;
      height: 31.25vw;
      padding: 3.4375vw 3.125vw;
    }

    &:hover {
      opacity: 1;

      h3 {
        border-color: transparent;
      }
    }

    h3 {
      display: inline;
      color: #ecf5fa;
      font-family: $FSAlbert;
      font-size: 2vw;
      font-weight: 300;
      padding-bottom: 0.7857142857142857vw;
      border-bottom: 0.1428571428571429vw solid #0c7cbf;
      position: relative;
      z-index: 1;
      transition: $delay;

      @media only screen and (max-width:767px) {
        font-size: 4.375vw;
        border-width: 0.3125vw;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 38.8571428571428571vw;
      height: 13vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      @media only screen and (max-width:767px) {
        width: 100%;
        height: 100%;
      }
    }

    &_one {

      &:before {
        top: 0.7142857142857143vw;
        left: 0.6428571428571429vw;
        background-image: url("../img/nav-1.png");

        @media only screen and (max-width:767px) {
          top: 0;
          left: 0;
        }
      }
    }

    &_two {

      &:before {
        top: 0.6428571428571429vw;
        left: 0.6428571428571429vw;
        background-image: url("../img/nav-2.png");

        @media only screen and (max-width:767px) {
          top: 0;
          left: 0;
        }
      }
    }

    &_three {

      &:before {
        top: 0.4285714285714286vw;
        left: 0.3571428571428571vw;
        background-image: url("../img/nav-3.png");

        @media only screen and (max-width:767px) {
          top: 0;
          left: 0;
        }
      }
    }

    &_four {
      background-image: url("../img/blue-bg-4.png");

      &:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../img/nav-4.jpg");

        //@media only screen and (max-width:767px) {
        //  top: 3.90625vw;
        //  left: 2.5vw;
        //  width: 81.5625vw;
        //  height: 24.84375vw;
        //}
      }
    }
  }
}
