.main-video{
  background-image: url('../img/video-bg.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  width: 100%;
  padding-top: 1.7142857142857143vw;
  .wrapper{
    width: 68.5714285714285714vw;
  }
  h1{
    position: relative;
    color: $white;
    font-family: $FSAlbert;
    text-align: center;
    font-size: 2.3928571428571429vw;
    font-weight: 400;
    line-height: 1.8571428571428571vw;
  }
  h1::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1.2142857142857143vw;
    background-color: $white;
    height: 0.2142857142857143vw;
    width: 15.3571428571428571vw;
  }
  &__video{
    position: relative;
    margin-top: 3.0714285714285714vw;
    text-align: center;
    height: 37.4vw;
    iframe{
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
    }
  }
}
.gallery{
  background-color: $blue;
  padding-top: 4.2857142857142857vw;
  padding-bottom: 3.4285714285714286vw;
  margin-top: -0.2142857142857143vw;
  .wrapper{
    width: 68.5714285714285714vw;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 47%;
    img{
      width: 100%;
    }
    &_inner{
      h3{

        margin-left: -0.2142857142857143vw;
        margin-top: 0.8571428571428571vw;
        color: $white;
        font-family: $FSAlbert;
        font-size: 2vw;
        font-weight: 700;
        line-height: 2.6428571428571429vw;
      }
      p{
        color: $lightBlue;
        font-family: $FSAlbert;
        font-size: 1.1428571428571429vw;
        font-weight: 400;
        line-height: 1.5vw;
      }
      a{
        position: relative;
        width: 12.4285714285714286vw;
        height: 2.2857142857142857vw;
        border-radius: 0.2142857142857143vw;
        background-color: $white;
        color: #004a79;
        font-family: $FSAlbert;
        font-size: 1.2857142857142857vw;
        font-weight: 700;
        padding: 0.4285714285714286vw 2.1428571428571429vw 0.4285714285714286vw 0.9285714285714286vw;
        line-height: 4.5714285714285714vw;
      }
      a::after{
        position: absolute;
        width: 0.7857142857142857vw;
        height: 0.8571428571428571vw;
        content: '';
        background-image: url('../img/play-icon_small.png');
        background-repeat: no-repeat;
        background-size: 100%;
        right: 7%;
        top: 37%;
      }

    }
  }
}
@media only screen and (max-width:805px) {
  .gallery{
    margin-top: -0.2857142857142857vw;
  }
}
@media only screen and (max-width:767px) {
  .main-video{
    padding-top: 29.75vw;
    background-size: cover;
    .wrapper{
      width: 100%;
    }
    h1{
      font-size: 5.15625vw;
      line-height: 4.0625vw;
    }
    h1::after{
      bottom: -2.65625vw;
      height: 0.46875vw;
      width: 33.59375vw;
    }
    &__video{
      height: 50.71875vw;
      margin: auto;
      margin-top: 6.71875vw;
      width: 90%;
    }
  }
  .gallery{
    padding-top: 4.375vw;
    padding-bottom: 7.5vw;
    margin-top: -0.46875vw;
    .wrapper{
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-top: 5vw;
      width: 90%;
      &_inner{
        h3{
          margin-left: 0.46875vw;
          margin-top: 1.875vw;
          font-size: 4.375vw;
          line-height: 5.78125vw;
        }
        p{
          font-size: 2.5vw;
          line-height: 3.28125vw;
        }
        a{
          width: 27.1875vw;
          height: 5vw;
          border-radius: 0.46875vw;
          font-size: 2.8125vw;
          padding: 0.9375vw 4.6875vw 0.9375vw 2.03125vw;
          line-height: 10vw;
        }
        a::after{
          width: 1.71875vw;
          height: 1.875vw;
        }
      }
    }
  }
}
