@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Light.eot");
  src: url("../fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Light.woff") format("woff"), url("../fonts/Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Bold.woff") format("woff"), url("../fonts/Akrobat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Thin.eot");
  src: url("../fonts/Akrobat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Thin.woff") format("woff"), url("../fonts/Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-ExtraBold.eot");
  src: url("../fonts/Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-ExtraBold.woff") format("woff"), url("../fonts/Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Regular.eot");
  src: url("../fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Regular.woff") format("woff"), url("../fonts/Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-ExtraLight.eot");
  src: url("../fonts/Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-ExtraLight.woff") format("woff"), url("../fonts/Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Black.eot");
  src: url("../fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-Black.woff") format("woff"), url("../fonts/Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-SemiBold.eot");
  src: url("../fonts/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat-SemiBold.woff") format("woff"), url("../fonts/Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-BoldItalic.eot");
  src: url("../fonts/FSAlbertPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-BoldItalic.woff") format("woff"), url("../fonts/FSAlbertPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-Bold.eot");
  src: url("../fonts/FSAlbertPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-Bold.woff") format("woff"), url("../fonts/FSAlbertPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-LightItalic.eot");
  src: url("../fonts/FSAlbertPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-LightItalic.woff") format("woff"), url("../fonts/FSAlbertPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-Light.eot");
  src: url("../fonts/FSAlbertPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-Light.woff") format("woff"), url("../fonts/FSAlbertPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-Italic.eot");
  src: url("../fonts/FSAlbertPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-Italic.woff") format("woff"), url("../fonts/FSAlbertPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-ExtraBold.eot");
  src: url("../fonts/FSAlbertPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-ExtraBold.woff") format("woff"), url("../fonts/FSAlbertPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-ThinItalic.eot");
  src: url("../fonts/FSAlbertPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-ThinItalic.woff") format("woff"), url("../fonts/FSAlbertPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro.eot");
  src: url("../fonts/FSAlbertPro.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro.woff") format("woff"), url("../fonts/FSAlbertPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FS Albert Pro';
  src: url("../fonts/FSAlbertPro-Thin.eot");
  src: url("../fonts/FSAlbertPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/FSAlbertPro-Thin.woff") format("woff"), url("../fonts/FSAlbertPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body.overflow {
  margin-right: 15px;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    body.overflow {
      margin-right: 0; } }

a {
  text-decoration: none;
  transition: 0.4s; }
  a:hover {
    opacity: .8; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  margin: auto;
  width: 100%; }

.header {
  height: 5.2857142857142857vw;
  background-color: #00447d;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .header {
      height: auto; } }
  .header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 82.2857142857142857vw; }
    @media only screen and (max-width: 767px) {
      .header .wrapper {
        max-width: 100%;
        flex-direction: column-reverse; } }
  .header__logo {
    margin-top: 0.2142857142857143vw;
    width: 4.8571428571428571vw;
    height: 2.8571428571428571vw; }
    @media only screen and (max-width: 767px) {
      .header__logo {
        margin-top: 0.625vw;
        width: 14.53125vw;
        height: 8.4375vw; } }
  .header__menu {
    margin-top: 0.2857142857142857vw;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .header__menu {
        margin-top: 0; } }
    .header__menu-item {
      margin-right: 2.2142857142857143vw; }
      @media only screen and (max-width: 767px) {
        .header__menu-item {
          margin-left: 5.78125vw;
          margin-right: 0; } }
    .header__menu-link {
      font-family: "FS Albert Pro", sans-serif;
      color: #fefefe;
      font-size: 1.7142857142857143vw;
      font-weight: 300;
      border-bottom: 0.1428571428571429vw solid #0678be;
      padding-bottom: 0.1428571428571429vw; }
      .header__menu-link:hover {
        border-color: transparent; }
      @media only screen and (max-width: 767px) {
        .header__menu-link {
          font-size: 4.6875vw;
          border-width: 0.3125vw;
          padding-bottom: 0.325vw; } }
  .header__left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52.8571428571428571vw; }
    @media only screen and (max-width: 767px) {
      .header__left-container {
        width: 100%;
        height: 14.84375vw;
        padding: 0 6.875vw; } }
  .header__right-container {
    display: flex;
    align-items: flex-end; }
    @media only screen and (max-width: 767px) {
      .header__right-container {
        width: 100%;
        height: 10.9375vw;
        background-color: #003b6d;
        align-items: center;
        justify-content: center; } }
  .header__komar-logo {
    transform: translateY(0.14286vw);
    margin-right: 1.4285714285714286vw;
    width: 7.6428571428571429vw;
    height: 2.2142857142857143vw; }
    @media only screen and (max-width: 767px) {
      .header__komar-logo {
        transform: none;
        margin: 0.9375vw 5.625vw 0 0;
        width: 25vw;
        height: 7.1875vw; } }
  .header__komar-link {
    margin: 0 0.1428571428571429vw 0.2857142857142857vw 0;
    color: #9bd2ff;
    font-family: "Akrobat", sans-serif;
    font-size: 1vw;
    font-weight: 300;
    text-decoration: underline; }
    @media only screen and (max-width: 767px) {
      .header__komar-link {
        margin: 2.96875vw 0 0 0;
        transform: translateX(-2.5vw);
        color: #3c9fdb;
        font-family: "FS Albert Pro", sans-serif;
        font-size: 3.4375vw;
        font-weight: 400; } }

footer {
  background-color: #e4e4e4;
  font-family: 'Akrobat';
  flex-shrink: 0; }
  footer .wrapper {
    max-width: 82.5vw; }
    @media screen and (max-width: 767px) {
      footer .wrapper {
        max-width: 100%;
        padding: 0 30px; } }

.foot-nav {
  display: flex;
  padding-top: 3.4285714285714286vw; }
  @media screen and (max-width: 991px) {
    .foot-nav {
      padding-left: 0; } }
  @media screen and (max-width: 768px) {
    .foot-nav {
      display: none; } }
  @media screen and (max-width: 783px) {
    .foot-nav {
      padding-top: 48px; } }

.foot-nav li {
  list-style: none; }

.foot-nav a {
  font-weight: bold;
  color: #858587;
  font-size: 1.2142857142857143vw;
  padding: 0.7142857142857143vw 1.0714285714285714vw; }
  @media screen and (max-width: 783px) {
    .foot-nav a {
      font-size: 17px; } }

.foot-logo img {
  display: block;
  width: 97%;
  padding-top: 0.46875vw;
  margin-right: -2.1875vw; }

.foot {
  display: flex;
  padding-top: 1.25vw;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 991px) {
    .foot {
      padding-left: 0; } }

.copyright {
  width: 16.4285714285714286vw;
  padding-bottom: 3.1428571428571429vw;
  padding-left: 0.9285714285714286vw;
  margin-right: auto; }
  @media screen and (max-width: 1199px) {
    .copyright {
      padding-bottom: 0;
      margin-right: 0; } }
  @media screen and (max-width: 992px) {
    .copyright {
      margin-right: auto; } }
  @media screen and (max-width: 783px) {
    .copyright {
      padding-left: 13px; } }

.copyright p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #858586;
  font-size: 0.9285714285714286vw;
  padding-top: 0.2142857142857143vw;
  line-height: 1vw; }
  @media screen and (max-width: 783px) {
    .copyright p {
      font-size: 13px;
      padding-top: 3px;
      line-height: 14px; } }

.copyright a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9785714285714286vw;
  position: relative;
  color: #2a92d3; }
  @media screen and (max-width: 783px) {
    .copyright a {
      font-size: 13.7px; } }

.copyright a:hover,
.admin a:hover {
  text-decoration: underline; }

.soclife {
  padding-left: 2.2857142857142857vw;
  width: 15vw;
  margin-left: auto; }
  @media screen and (max-width: 767px) {
    .soclife {
      margin-top: 1vw;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .soclife {
      max-width: 50%;
      display: flex !important;
      align-items: flex-start !important; } }

.soclife p {
  text-align: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8571428571428571vw;
  padding-top: 3px;
  margin-left: 0.2142857142857143vw;
  letter-spacing: 0.0642857142857143vw;
  color: #858586; }
  @media screen and (max-width: 767px) {
    .soclife p {
      display: none; } }
  @media screen and (max-width: 783px) {
    .soclife p {
      font-size: 12px;
      padding-top: 3px;
      margin-left: 19px;
      letter-spacing: 0.9px; } }

.social {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7142857142857143vw; }
  @media screen and (max-width: 480px) {
    .social {
      width: calc(100% - 2.34375vw) !important; } }

.admin {
  max-width: 26vw;
  margin-left: 1.3571428571428571vw; }
  @media screen and (max-width: 992px) {
    .admin {
      margin-left: 0;
      margin-bottom: 15px; } }
  @media screen and (max-width: 992px) {
    .admin {
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    .admin {
      max-width: 50%; } }

.admin p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 0.2857142857142857vw;
  font-size: 0.9285714285714286vw;
  line-height: 0.9642857142857143vw;
  letter-spacing: 0.0142857142857143vw;
  color: #858586; }
  .admin p:last-child {
    margin-top: 1vw; }
  @media screen and (max-width: 783px) {
    .admin p {
      padding-top: 4px;
      font-size: 13px;
      line-height: 13.5px;
      letter-spacing: 0.2px; } }

.admin a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2a92d3; }

.social a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 2vw;
  height: 2vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 783px) {
    .social a {
      width: 28px;
      height: 28px; } }

.klubkom {
  background-image: url(../img/klubkom.png); }

.vk {
  background-image: url(../img/vk.png); }

.fb {
  background-image: url(../img/fb.png); }

.youtube {
  background-image: url(../img/youtube.png); }

.inst {
  background-image: url(../img/inst.png); }

@media screen and (max-width: 783px) {
  .copyright {
    width: 37%; }
  .soclife {
    display: flex;
    width: 73%;
    padding-left: 0;
    align-items: center;
    justify-content: space-between; }
  .social {
    display: flex;
    justify-content: flex-start;
    padding-top: 0px;
    width: 100%; }
  .social a {
    margin-right: 1vw; }
  .admin {
    margin-left: 0;
    width: 100%;
    padding-top: 10px; }
  .protect p br {
    display: none; } }

@media screen and (max-width: 700px) {
  .copyright {
    width: 47%; }
  .soclife {
    width: 98%; } }

@media screen and (max-width: 586px) {
  .foot {
    padding-left: 0px;
    padding-top: 4.25vw; }
  .copyright {
    padding-left: 22px; }
  .web-main-content p {
    padding-top: 2px; }
  .web-content span {
    width: 35.3%; } }

@media screen and (max-width: 462px) {
  .foot-logo img {
    width: 88%;
    margin-right: -58px; }
  .copyright {
    width: 47%;
    padding-left: 0px; }
  .copyright p {
    font-size: 9.5px;
    padding-top: 3px;
    line-height: 11px; }
  .copyright p:nth-child(2) {
    margin-top: -4px;
    letter-spacing: 0.5px; }
  .copyright a {
    font-size: 9.5px;
    bottom: 8px; }
  .soclife p {
    font-size: 8.1px;
    padding-top: 0;
    margin-left: 0;
    letter-spacing: 0.9px; }
  .social {
    width: 48%;
    padding-top: 5px; }
  .social a {
    width: 21px;
    height: 21px;
    background-size: contain; }
  .admin {
    padding-top: 0; }
  .admin p br {
    display: none; }
  .admin p {
    padding-top: 7px;
    font-size: 8px;
    line-height: 10.5px;
    letter-spacing: 0.2px; } }

body {
  display: flex;
  flex-direction: column; }
  body.opacity {
    position: relative; }
    body.opacity:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      z-index: 3;
      opacity: .7;
      background-color: #000000; }

.main {
  margin-top: 5.2857142857142857vw;
  display: block;
  transition: 0.4s;
  overflow: hidden;
  flex: 1 0 auto; }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 0; } }

.banner {
  background-image: url("../img/main-bg.png");
  background-size: 100% 100%;
  background-position: center center;
  height: 34.2857142857142857vw; }
  @media only screen and (max-width: 767px) {
    .banner {
      height: 97.96875vw;
      background-image: url("../img/main-bg-mob.png");
      background-position: -47.8125vw -24.53125vw;
      background-repeat: no-repeat;
      background-size: 163.28125vw 120.78125vw; } }
  .banner .wrapper {
    padding-top: 3.3571428571428571vw;
    display: flex;
    max-width: 82.2857142857142857vw; }
    @media only screen and (max-width: 767px) {
      .banner .wrapper {
        padding-top: 32.1875vw;
        flex-direction: column-reverse;
        max-width: 86.25vw; } }
  .banner__video {
    position: relative;
    width: 40.4285714285714286vw;
    height: 22.7142857142857143vw; }
    @media only screen and (max-width: 767px) {
      .banner__video {
        margin-top: 7.03125vw;
        width: 100%;
        height: 48.4375vw;
        z-index: 2; } }
    .banner__video iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .banner__info {
    margin-left: 2.2857142857142857vw;
    padding-top: 0.5714285714285714vw;
    font-family: "FS Albert Pro", sans-serif; }
    @media only screen and (max-width: 767px) {
      .banner__info {
        margin-left: 4.285714vw;
        padding-top: 0; } }
    .banner__info h1 {
      margin-left: 0.9285714285714286vw;
      max-width: 19.6428571428571429vw;
      font-size: 2.5714285714285714vw;
      font-weight: 700;
      line-height: 2.7142857142857143vw;
      color: #00447d; }
      @media only screen and (max-width: 767px) {
        .banner__info h1 {
          max-width: 75vw;
          margin-left: 0;
          font-size: 8.125vw;
          font-weight: 700;
          line-height: 8.4375vw;
          letter-spacing: -0.046875vw; } }
      @media only screen and (max-width: 767px) {
        .banner__info h1 span {
          display: block; } }
  .banner__text {
    margin-top: 2.8571428571428571vw;
    padding: 1.3571428571428571vw 7vw 1.7857142857142857vw 1.8571428571428571vw;
    position: relative;
    width: 26.1428571428571429vw;
    height: 10.5vw;
    border-radius: 1.0714285714285714vw;
    background-color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .banner__text {
        margin-top: 3.90625vw;
        background-color: transparent;
        width: 77.34375vw;
        height: auto;
        padding: 0; } }
    .banner__text p {
      color: #00447d;
      font-size: 1.2142857142857143vw;
      font-weight: 400;
      line-height: 1.5vw; }
      @media only screen and (max-width: 767px) {
        .banner__text p {
          font-size: 4.375vw;
          line-height: 5.15625vw;
          letter-spacing: -0.015625vw; } }
      .banner__text p .bold {
        font-weight: 700; }
    .banner__text:after {
      content: '';
      position: absolute;
      right: -7.2142857142857143vw;
      top: -0.6428571428571429vw;
      background-image: url("../img/kid.svg");
      background-size: 100% 100%;
      width: 17.5vw;
      height: 14.5714285714285714vw; }
      @media only screen and (max-width: 767px) {
        .banner__text:after {
          display: none; } }

.navigation {
  background-color: #0075c1;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .navigation {
      margin-top: 15.625vw; } }
  .navigation:before, .navigation:after {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: #0075c1;
    top: -2.7142857142857143vw;
    width: 28.5714285714285714vw;
    height: 7.1428571428571429vw; }
    @media only screen and (max-width: 767px) {
      .navigation:before, .navigation:after {
        top: 0; } }
  .navigation:before {
    transform: rotate(14deg);
    left: -4.9285714285714286vw; }
    @media only screen and (max-width: 767px) {
      .navigation:before {
        transform: rotate(12deg); } }
  .navigation:after {
    transform: rotate(-14deg);
    right: -4.9285714285714286vw; }
    @media only screen and (max-width: 767px) {
      .navigation:after {
        transform: rotate(-12deg); } }
  .navigation .wrapper {
    transform: translateY(-7.14286vw);
    max-width: 82.2857142857142857vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 767px) {
      .navigation .wrapper {
        transform: none;
        padding: 28.4375vw 0 7.8125vw;
        max-width: 86.25vw; } }
  .navigation__item {
    position: relative;
    margin-top: 1.7857142857142857vw;
    width: 40.4285714285714286vw;
    height: 14.2857142857142857vw;
    padding: 1.5vw;
    background-image: url("../img/blue-bg.png");
    background-size: contain;
    background-repeat: repeat; }
    @media only screen and (max-width: 767px) {
      .navigation__item {
        margin-top: 3.125vw;
        width: 100%;
        height: 31.25vw;
        padding: 3.4375vw 3.125vw; } }
    .navigation__item:hover {
      opacity: 1; }
      .navigation__item:hover h3 {
        border-color: transparent; }
    .navigation__item h3 {
      display: inline;
      color: #ecf5fa;
      font-family: "FS Albert Pro", sans-serif;
      font-size: 2vw;
      font-weight: 300;
      padding-bottom: 0.7857142857142857vw;
      border-bottom: 0.1428571428571429vw solid #0c7cbf;
      position: relative;
      z-index: 1;
      transition: 0.4s; }
      @media only screen and (max-width: 767px) {
        .navigation__item h3 {
          font-size: 4.375vw;
          border-width: 0.3125vw; } }
    .navigation__item:before {
      content: '';
      position: absolute;
      width: 38.8571428571428571vw;
      height: 13vw;
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 767px) {
        .navigation__item:before {
          width: 100%;
          height: 100%; } }
    .navigation__item_one:before {
      top: 0.7142857142857143vw;
      left: 0.6428571428571429vw;
      background-image: url("../img/nav-1.png"); }
      @media only screen and (max-width: 767px) {
        .navigation__item_one:before {
          top: 0;
          left: 0; } }
    .navigation__item_two:before {
      top: 0.6428571428571429vw;
      left: 0.6428571428571429vw;
      background-image: url("../img/nav-2.png"); }
      @media only screen and (max-width: 767px) {
        .navigation__item_two:before {
          top: 0;
          left: 0; } }
    .navigation__item_three:before {
      top: 0.4285714285714286vw;
      left: 0.3571428571428571vw;
      background-image: url("../img/nav-3.png"); }
      @media only screen and (max-width: 767px) {
        .navigation__item_three:before {
          top: 0;
          left: 0; } }
    .navigation__item_four {
      background-image: url("../img/blue-bg-4.png"); }
      .navigation__item_four:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../img/nav-4.jpg"); }

.main-video {
  background-image: url("../img/video-bg.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  width: 100%;
  padding-top: 1.7142857142857143vw; }
  .main-video .wrapper {
    width: 68.5714285714285714vw; }
  .main-video h1 {
    position: relative;
    color: #ffffff;
    font-family: "FS Albert Pro", sans-serif;
    text-align: center;
    font-size: 2.3928571428571429vw;
    font-weight: 400;
    line-height: 1.8571428571428571vw; }
  .main-video h1::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1.2142857142857143vw;
    background-color: #ffffff;
    height: 0.2142857142857143vw;
    width: 15.3571428571428571vw; }
  .main-video__video {
    position: relative;
    margin-top: 3.0714285714285714vw;
    text-align: center;
    height: 37.4vw; }
    .main-video__video iframe {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%; }

.gallery {
  background-color: #0274bd;
  padding-top: 4.2857142857142857vw;
  padding-bottom: 3.4285714285714286vw;
  margin-top: -0.2142857142857143vw; }
  .gallery .wrapper {
    width: 68.5714285714285714vw;
    display: flex;
    justify-content: space-between; }
  .gallery__item {
    width: 47%; }
    .gallery__item img {
      width: 100%; }
    .gallery__item_inner h3 {
      margin-left: -0.2142857142857143vw;
      margin-top: 0.8571428571428571vw;
      color: #ffffff;
      font-family: "FS Albert Pro", sans-serif;
      font-size: 2vw;
      font-weight: 700;
      line-height: 2.6428571428571429vw; }
    .gallery__item_inner p {
      color: #7dccff;
      font-family: "FS Albert Pro", sans-serif;
      font-size: 1.1428571428571429vw;
      font-weight: 400;
      line-height: 1.5vw; }
    .gallery__item_inner a {
      position: relative;
      width: 12.4285714285714286vw;
      height: 2.2857142857142857vw;
      border-radius: 0.2142857142857143vw;
      background-color: #ffffff;
      color: #004a79;
      font-family: "FS Albert Pro", sans-serif;
      font-size: 1.2857142857142857vw;
      font-weight: 700;
      padding: 0.4285714285714286vw 2.1428571428571429vw 0.4285714285714286vw 0.9285714285714286vw;
      line-height: 4.5714285714285714vw; }
    .gallery__item_inner a::after {
      position: absolute;
      width: 0.7857142857142857vw;
      height: 0.8571428571428571vw;
      content: '';
      background-image: url("../img/play-icon_small.png");
      background-repeat: no-repeat;
      background-size: 100%;
      right: 7%;
      top: 37%; }

@media only screen and (max-width: 805px) {
  .gallery {
    margin-top: -0.2857142857142857vw; } }

@media only screen and (max-width: 767px) {
  .main-video {
    padding-top: 29.75vw;
    background-size: cover; }
    .main-video .wrapper {
      width: 100%; }
    .main-video h1 {
      font-size: 5.15625vw;
      line-height: 4.0625vw; }
    .main-video h1::after {
      bottom: -2.65625vw;
      height: 0.46875vw;
      width: 33.59375vw; }
    .main-video__video {
      height: 50.71875vw;
      margin: auto;
      margin-top: 6.71875vw;
      width: 90%; }
  .gallery {
    padding-top: 4.375vw;
    padding-bottom: 7.5vw;
    margin-top: -0.46875vw; }
    .gallery .wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center; }
    .gallery__item {
      margin-top: 5vw;
      width: 90%; }
      .gallery__item_inner h3 {
        margin-left: 0.46875vw;
        margin-top: 1.875vw;
        font-size: 4.375vw;
        line-height: 5.78125vw; }
      .gallery__item_inner p {
        font-size: 2.5vw;
        line-height: 3.28125vw; }
      .gallery__item_inner a {
        width: 27.1875vw;
        height: 5vw;
        border-radius: 0.46875vw;
        font-size: 2.8125vw;
        padding: 0.9375vw 4.6875vw 0.9375vw 2.03125vw;
        line-height: 10vw; }
      .gallery__item_inner a::after {
        width: 1.71875vw;
        height: 1.875vw; } }
