.article .main {
  margin-top: 6.4285714285714286vw; }

.article__header {
  background-image: url("../img/article-header-bg.png");
  background-size: 100% 100%; }
  .article__header .wrapper {
    max-width: 77.1428571428571429vw;
    min-height: 25.2142857142857143vw;
    display: flex;
    justify-content: space-between; }
  .article__header-image {
    width: 45vw;
    height: 100%; }
