.header {
  height: 5.2857142857142857vw;
  background-color: #00447d; }
  .header .wrapper {
    display: flex;
    align-items: center;
    height: 100%; }
  .header__logo {
    width: 4.8571428571428571vw;
    height: 2.8571428571428571vw; }
